[Unit]
Description=Consul v1.6.2 service discovery agent
Documentation=https://www.consul.io/docs/
Requires=network-online.target
After=network.target

[Service]
#EnvironmentFile=/etc/sysconfig/consul
#Environment=GOMAXPROCS=5
PIDFile=/run/consul.pid
Restart=on-failure
RestartSec=3s
#ExecStartPre=[ -f "/run/consul.pid" ] && /bin/rm -f /run/consul.pid
ExecStartPre=/usr/local/bin/consul validate -quiet /etc/consul.d
ExecStart=/usr/local/bin/consul agent $OPTIONS -enable-script-checks -pid-file=/run/consul.pid -config-dir=/etc/consul.d -rejoin
KillSignal=SIGINT
ExecReload=/bin/kill -s HUP $MAINPID
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
