[Unit]
Description=DHCP and DNS caching server for %i.
After=network.target

[Service]
ExecStartPre=/usr/sbin/dnsmasq test
ExecStart=/usr/sbin/dnsmasq -k --conf-file=/etc/dnsmasq.conf
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
